.search-form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.timer {
  display: flex;
  justify-content: center;
}

.field {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  border-radius: 2px;
}

.value {
  margin-bottom: 15px;
  font-family: 'Roboto Mono', monospace;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 24px;
}
